<div class="row" style="padding-top: 6%;">
	<div class="col"></div>
	<div class="col-md-7 text-center">
	<%= image_tag '01.jpg', style: "width:100%" %>
	<div class="jumbotron">
		<h1>Welcome</h1>
		<p><%= link_to 'My Blog', articles_path, class: 'btn btn-lg btn-welcome' %></p>
	</div>
	</div>
	<div class="col"></div>
</div>
